// Colors
$orange: #cd7400;
$light-gray: #dedede;
$black: #000000;
$white: #ffffff;
$blue: #005fcd;
$slightly-dark: #8d8d8d;
$very-dark: #3e3e3e;

// Sizes
$full-width: 414px;

$navbar-list-side-column-width: 24px;
$navbar-list-element-width: ($full-width - (2 * $navbar-list-side-column-width)) / 4; // 4 is the number of current navigation elements (aka steps)
$navbar-indicator-width: 60px;
